/* ESTILIZAÇÃO DO HEADER */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: rgb(167, 165, 165);
    font-size: 18px;
    padding: 20px 0px;
}

.header img {
    width: 380px;
    margin-bottom: 40px;
}



/* ESTILIZAÇÃO DO MAIN */

.main {
    background-image: url("../imagens/background-main.png"); /* Imagem de fundo do contâiner main */
    min-height: 100vh; /* Tamanho mínimo para a imagem ser visível, ou seja, tamanho mínimo de 100vh ela será visível mesmo se não tiver nenhum elemento*/
    background-size: cover; /* Faz com que a imagem tome todo o tamanho do contâiner */
    background-repeat: no-repeat; /* Impede que a imagem se repita no fundo, aparecerá apenas uma */
    background-position: center;  /* Centraliza a imagem completamente ao centro, fazendo com que seu centro e grande parte da imagem fique visível apenas no contãiner*/

    background-attachment: fixed; /* Deixa a imagem fixa na tela, impedindo que ela se alarga conforme estiver mais conteúdo dentro, porém tira os efeitos de box shadow se ambos estiverem no mesmo contâiner. Para resolver isso, deve-se diminuir o raio negativo da sombra pra ela ficar mais visível */

    /* Abaixo, faremos uma estilização única do main para que o espaço divisório entre o header e footer (que são apenas uma faixa preta) para o main, com sua imagem de fundo, não fique tão visível e tão feio. Antes, a divisão entre eles ficava bem visível, mas essa estilização abaixo cria um efeito de sombra no main que torna isso menos visível (use ctrl + ; na estilização para transformar em comentário e ver a diferença).

    Primeira sombra (entre header e main): "box-shadow" é usado para criar efeitos de sombras em elementos, "inset" define que a sombra será interna (dentro do contêiner do elemento e não jogada pra fora), "0" é o deslocamente lateral, ou seja, sem sombra para os lados. "80" é o deslocamento vertical pra baixo (a sombra começa de cima e desce). "80" é o desfoque e suavidade da sombra. "-62" é o raio negativo da sombra, ou seja, o quão pra dentro do elemento ela está, concentrando ela apenas na borda superior. E "black" é a cor da sombra
    
    Segunda sombra (entre main e footer): Mesma coisa de antes, porém agora depois do "0" o primeiro "-80" é o inverso, agora a sombra começa de baixo e vai pra cima, na borda inferior.*/
    box-shadow: inset 0 80px 80px -62px black, inset 0 -80px 80px -62px black;
}

.conteudo-main {
    max-width: 1180px;
    margin: auto;
    padding-top: 80px;
}


.conteudo-main .subtitulo-main {
    color: rgb(245, 175, 70);
    font-weight: 500;
    font-size: 26px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.conteudo-main .filtros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.filtros .categorias-itens, .filtros .preco-itens {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.filtros span {
    color: rgb(245, 175, 70);
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.categorias-itens select, .preco-itens input {
    padding: 10px 8px;
    border: 2px solid rgb(184, 126, 40);
    border-radius: 12px;
    background-color: black;
    color:  rgb(245, 175, 70);
}

.categorias-itens select:focus, .preco-itens input:focus {
    outline: none;
}

/* .categorias-itens select {
   appearance: none;
   background-image: url("../imagens/seta-dropdown.png") 97% center no-repeat;
} */


.filtros .btn-filtro {
    all: unset;  /* Tira quaisquer estilos herdados pelo CSS, navegador, ou outro lugar. Serve para estilizações muito específicas, nesse caso, devido ao botão ter estilos herdados, não estava recebendo a fonte Rye padrão do site. Então tirei todos os estilos herdados para receber */
    border: none;
    border-radius: 12px;
    background-color: black;
    color: rgb(245, 175, 70);
    align-self: end;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 14px 10px;
    margin-right: 30px;
}

.filtros .btn-filtro:hover {
    cursor: pointer;
    transform: scale(1.08);
    background-color: rgb(245, 175, 70);
    color: white;
    transition: 0.3s;
}



.conteudo-main .container-itens {
    display: flex;
    justify-content: center;
    align-items: flex-start;  /* align-items: flex-start se colocar scroll */
    padding-bottom: 90px;
    height: fit-content;   /* height: 80vh se colocar scroll */
    /* overflow-y: auto;
    scrollbar-width: none; */
}

.container-itens .lista-itens {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 92px;
    max-width: 100%;
}

.lista-itens .item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 230px;
    border-radius: 20px;
    background-color: black;
}

.lista-itens .item img {
    width: 100%; /* A imagem toma todo o tamanho do contâiner img */
    padding: 20px;
    border-bottom: 2px solid  rgb(184, 126, 40);
}

.lista-itens .item h3, span, a {
    padding: 3px 0px 3px 10px;
}

.item .nome-item {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    color: rgb(245, 175, 70);
    padding-bottom: 2px;
}

.item .preco-item {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 2px;
    color: #418f53;
}

.item .btn-comprar {
    text-decoration: none;
    font-family: sans-serif;
    border: 2px solid rgb(231, 165, 65);
    border-radius: 8px;
    color: rgb(235, 167, 67);
    padding: 10px;
    align-self: center;
    margin: 12px 0px 11px 0px;
}

.item .btn-comprar:hover {
    transform: scale(1.06); /* Faz o botão crescer suavemente sem alterar o layout do card/contâiner pai ou os objetos ao redor */
    border-radius: 16px;
    transition: 0.3s;
}




/* ESTILIZAÇÃO DO FOOTER */

.footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: rgb(167, 165, 165);
    font-size: 14px;
    padding: 20px;
}



/* CLASSES DE INTERAÇÃO KS */

.item.mostrar {
    display: flex;
}

.item.remover {
    display: none;
}





